/* INICIO MARCAS */
.subtitulo_marcas {
  margin: 30px;
  font-size: 30px;
}

.parrafo_marcas {
  margin: 30px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  width: 95%;
  margin: auto;
  gap: 10px;
  padding: 40px 0;
  overflow: hidden;
}

.galeria > a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5);
}

.galeria img {
  width: 100%;
  vertical-align: top;
  height: 300px;
  object-fit: cover;
  transition: transform 0.5s;
  box-shadow: 0 1 6px rgba(0, 0, 0, 0.5);
}

.galeria a:hover img {
  filter: blur(2px);
  transform: rotate(10deg) scale(1.3);
}

//presentacion de marca y descripcion
.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.8);
  transition: transform 0.3s ease-in-out;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  
}

.parrafo_lightbox {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 20px;
  text-align: center;
}

.light-box img {
  width: 45vw;
  max-height: 80vh;
}

.light-box:target {
  transform: scale(1);
}
//boton de cierre
.close {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #fff;
  color: #000;
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
//botones de atras y adelante
.next {
  display: block;
  color: #fff;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  text-decoration: none;
}

/* FIN MARCAS */
