@media only screen and (max-width:767px) {

    .Estudio,
    .Clientes,
    .Equipos,
    .Marcas,
    .Salas,
    .Grabaciones,
    .Vivos,
    .Contacto {
        font-size: 35px;
    }
  
    .wide {
        grid-column: auto;
    }
  
    .hero-content>h2 {
        font-size: 23px;
    }
  
    .hero-content>p {
        font-size: 13px;
    }

    .contenedorAnimado .estatico {
        position:relative;
        top: 30px;
        font-size: 20px;
        font-weight: 400;
        
      }

    .dinamico li {
        font-size: 20px;
        font-weight: 400;
    }
  
  }